#########################
Requirements/Dependencies
#########################

This documentation is now located here:

http://arches.readthedocs.io/en/stable/requirements-and-dependencies/

.. code::

                                                ~  `
                --   ___   ==¯                   `  `   `  ~`
                   .`   `.       --¯-                 ` ~       `
    =  === - -==-- ' --  ' == --__-- --=  == --- == ¯-- = =  _-== -_ -  == -  -
                   ¯     ¯                   /|\
                     -¯                     / | \
                  -                        /  |  \
                           -              /   |   \
